{% extends 'admin/base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
            <p>Welcome to Movie Sentimental and Recommendation administration. Create and view the movies, verify critics users and reviews.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2>About Dataset</h2>
            <h4 class="text-info">IMDB Dataset of 50K Movie Review</h4>
            <h5>Large Movie Review Dataset</h5>
            <p class="mt-3">
                IMDB dataset having 50K movie reviews for natural language processing or Text analytics.
                This is a dataset for binary sentiment classification containing substantially more data than previous benchmark datasets. We provide a set of 25,000 highly polar movie reviews for training and 25,000 for testing. So, predict the number of positive and negative reviews using either classification or deep learning algorithms.
                For more dataset information, please go through the <a href="http://ai.stanford.edu/~amaas/data/sentiment/">this link</a><br>
                <a class="text-info" href="https://www.kaggle.com/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews">KAGGLE link for the dataset</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}